# Configurações do PriceAI
PROJECT_NAME="PriceAI - Analysis System"

# Segurança (Gere uma chave forte em produção)
SECRET_KEY="sua_chave_secreta_aqui"

# AI Config
# Obtenha sua chave em: https://aistudio.google.com/
GEMINI_API_KEY="seu_token_gemini_aqui"

# Ambiente
ALLOWED_HOSTS=["*"]
DEBUG=True
