# Configurações do Sistema
SECRET_KEY="SUA_CHAVE_MESTRA_AQUI"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="10080"

# Banco de Dados
DATABASE_URL="sqlite:///./ferramentaria.db"

# E-mail
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SENDER_EMAIL=""
SENDER_PASSWORD=""
